/* overlay for element.css */
svg {
    display: block;
    fill: #0366d6;
}
@media (max-width: 420px) {
    body {
        padding: 20px !important;
    }
}
:target {
    background-color: #ff6 !important;
}

/* diff css */
.diff {
    overflow: auto;
}

.diff ul {
    background: #fff;
    overflow: auto;
    font-size: 13px;
    list-style: none;
    margin: 2.5ex 0;
    padding: 0;
    display: table;
    width: 100%;
}

.diff del, .diff ins {
    display: block;
    text-decoration: none;
}

.diff li {
    padding: 0;
    display: table-row;
    margin: 0;
    height: 1em;
}

.diff li.ins {
    background: #dfd;
}

.diff li.del {
    background: #fee;
}

.diff li:hover {
    background: #ffc
}

.diff del, .diff ins, .diff span {
    white-space: pre-wrap;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.diff del strong {
    font-weight: normal;
    background: #fcc;
}

.diff ins strong {
    font-weight: normal;
    background: #9f9;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    .element {
        background-color: #33363d;
        color: #dddedf;
    }
    .element a {
        color: #02aaec
    }
    .element table tr {
        background-color: #33363d;
        border-top: 1px solid #dddedf;
    }

    .element table tr:nth-child(2n) {
        background-color: #2a2d34;
    }
    svg {
        display: block;
        fill: #02aaec;
    }

    /* dark mode diffs */
    .diff ul {
        background-color: #33363d;
    }

    .diff li.ins {
        background: #12261e;
    }

    .diff ins strong {
        background: #1d572c;
    }

    .diff li.del {
        background: #301a1f;
    }

    .diff del strong {
        background: #803030;
    }

    .diff li:hover {
        background: #550
    }
}
