<!doctype html>
<html class="element">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://elementcss.neocities.org/dist/element-0.1.1.min.css">
    <style>
    svg {
      display: block;
      fill: #0366d6;
    }
    @media (max-width: 420px) {
       body {
        padding: 20px !important;
      }
    }
    :target {
      background-color: #ff6 !important;
    }
    </style>
    <title>The Wandering Inn</title>
  </head>
  <body>
    <h1>The Wandering Inn</h1>
    <img src="wise_papa_sloth_corrupted_by_his_own_power_can_no_leader_go_untainted.png" alt="[8:37 PM] pirateaba: STOP ANALYZING MY RETCONS.">

    <p>This is a fansite for <a href="https://wanderinginn.com">The Wandering Inn</a>, a web serial. I use the <a href="https://web.archive.org">Internet Archive</a>, and, where applicable, the Royal Road version, to show how the text of the story has changed over time.</p>

    <p>Most of the changes are uninteresting typo fixes, but there are some important updates in volumes 1 and 2, mostly related to how the leveling system evolved as Innverse grew in scope. These differences are especially important for readers who use Royal Road, as they do not receive corrected chapters.</p>

    <p>Some selected changes:
    <ul>
      <li><a href="#chapter-1-11">1.11</a> (Pisces's levels)</li>
      <li><a href="#chapter-1-13">1.13</a> (Antinium adventurers)</li>
      <li><a href="#chapter-1-12">1.28</a> (Harpies)</li>
      <li><a href="#chapter-1-05-c">1.05 C</a> (Rhir ritual)</li>
      <li><a href="#chapter-interlude-5">Interlude</a> after 5.62 (Goblin keys)</li>
    </ul>
    If you need more guidance, <a href="https://thewanderinginn.fandom.com/wiki/Inconsistencies#Corrected_Inconsistencies_and_How_So">this Fandom page contains an annotated list of changes</a>.</p>

    <p>The algorithm used here is a tweaked version of the <a href="http://zenmagiclove.com/simple/breaker.html">breakerbreaker method</a>, optimized for TWI's prose. Only the differing phrases are provided on this site; for the full context, refer to the original chapter text.</p>

    <p>These data were last updated on <%= lastmod %>.</p>

    <p>I've also written some unofficial <a href="homebrew.html">5e D&amp;D homebrew for The Wandering Inn</a>, and have <a href="statistics.html">word counts</a> for each chapter.</p>

    <%= table_of_contents %>

    <table style="width: unset; margin-left: unset">
      <tr>
      <th>Chapter</th>
      <th>Changes</th>
      </tr>
  <%= html_table %>
    </table>

  </body>
</html>
